.pitch_block {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.06);
  width: 50px;
  height: 50px;
}

.coordinates {
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size: medium;
  text-shadow: 1px 1px black;
  border-width: 1px;
  border-style: dashed;
  box-sizing: border-box;
  border-color: rgb(255, 255, 255, 0.3);
  width: 50px;
  height: 50px;
}

.commentary_text {
  position: absolute;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  padding-top: 80px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: medium;
}
